@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-imperial-script: "Imperial Script", cursive;
  --font-meow-script: "Meow Script", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

iframe {
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

blockquote {
  box-sizing: border-box;
  border-left: max(var(--space-1), 0.25em) solid var(--accent-a6);
  padding-left: min(var(--space-5), max(var(--space-3), 0.5em));
}

.wp-block-image {
  margin: 0 0 1em;
}
.wp-block-image .aligncenter,
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image.aligncenter,
.wp-block-image.alignleft,
.wp-block-image.alignright {
  display: table;
}
.wp-block-image .aligncenter {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1200px) {
  .entry-content img {
    max-width: 1200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.has-text-align-left { text-align: left; }
.has-text-align-center { text-align: center; }
.has-text-align-right { text-align: right; }